body{
    font-family: "B Nazanin";
    font-size: 24px;
}
.myia{
    width: 100%;
    height: 500px;
    background-size: 20%;
     /*background shorthand*/
    /*colo-image-repeat-attachment-position*/
    background: url("../images/raw-chicken-179367-2.jpg") no-repeat fixed center;
}