*{
    margin: 0; padding: 0;
}

/*part one*/
.btn{
    margin: 10px;
}
/*part two*/
.part_two{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}
.part_two>h1{
    font-size: 50px;
    color: #0a1f0a;
}
.part_two>p{
    margin-top: 20px;
    width: 40%;
    color: #9b9b9b;
}

.btn_part_two{
    flex-direction: row;
    background-color: #0a2b50;
    border-radius: 8px;
    color: #fff;
    border: none;
    margin-right: 25px;
    padding: 7px 40px;
    font-size: 15px;
    line-height: 30px;
    margin-top: 30px;
    width: 200px;
}

/*part three*/
.part_three{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.img{
}