*{
    margin: 0; padding: 0;
}

/*part one*/
.btn{
    margin: 10px;
}
/*part two*/
.part_two{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}
.part_two>h1{
    font-size: 50px;
    color: #0a1f0a;
}
.part_two>p{
    margin-top: 20px;
    width: 40%;
    color: #9b9b9b;
}

.btns{
    display: flex;
    flex-direction: row;
}

.btn_part_two{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: #0a2b50;
    border-radius: 8px;
    color: #fff;
    border: none;
    margin-right: 20px;
    padding: 7px 40px;
    font-size: 15px;
    line-height: 30px;
    margin-top: 30px;
    width: 200px;
    align-items: center;
}

.icon-btn{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: -10px;
}

.icon-btn>svg{
    width: 30px;
    height: 30px;
}

/*part three*/
.part_three{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /*flex-direction: column;*/
}
.img{
}

.icon{
    display: flex;
    justify-content: right;
}

.icon>svg{
    width: 30px;
    height: 30px;
    margin-right: -350px;
    margin-top: 400px;
    font-size: 100px;
}

/*conf*/
.conf{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /*gap: 10px;*/

    background-color: #f8f3f3;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    padding: 20px;
}
.conf-text{
    width: 100%;
}

.star{
    display: flex;
    flex-direction: row;
    gap: 6px;

    background-color: #0a1f0a;
    border-radius: 3px;
    color: #f8f8f8;
    width: 110px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.border{
    display: flex;
    flex-direction: row;
    gap: 20px;
}